# config
PROJECT_NAME=newfeel3;
FRONTEND_APP_NAME=frontend;
BACKEND_APP_NAME=admin;
AUTHOR_NAME=pedro;
CSRF_SECRET=kAsl56jFM5NGHiua234f;

DB_USER_SU=root;
DB_PASS_SU="daroot";
DB_NAME=newfeel2
DB_USER=newfeel2;
DB_PASS="newfeel2";

# Where TGZ are saved (so we download them only if needed)
TGZ_DIR="$HOME/workspace/symfony"

# Optional. Uncomment to use it
# DOCTRINE_SCHEMA_FILE="$HOME/tmp/schema.yml"
# DOCTRINE_FIXTURES_FILE="$HOME/tmp/fixtures.yml"

# check for latest version @ http://www.symfony-project.org/installation/1_2
SYMFONY_TAG=RELEASE_1_2_9;
SYMFONY_VERSION="1.2.9"
SYMFONY_DIR="lib/vendor/symfony"
SYMFONY_DATA_DIR="$SYMFONY_DIR/${SYMFONY_TAG}_data"
SYMFONY_LIB_DIR="$SYMFONY_DIR/${SYMFONY_TAG}_lib"

# check for latest version @ http://framework.zend.com/download/archives
ZEND_NAME=ZendFramework
ZEND_VER=1.9.3

# check for latest version @ http://www.doctrine-project.org/download
DOCTRINE_NAME=Doctrine
DOCTRINE_VER=1.1.4

